/* General styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    font-family: 'EB Garamond', serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Menu styles */
.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1000;
}

.menu h1 {
    font-size: 12px;
    margin-bottom: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    cursor: pointer;
    display: block;
    padding: 10px 0;
}

/* Image container styles */
.image-container {
    margin-left: 245px;
    width: calc(100% - 245px);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.image-container::-webkit-scrollbar {
    display: none;
}

.image {
    flex: 0 0 100vh;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    transition: background-image 1.25s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
}

/* Loading screen */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer styles */
.footer {
    font-size: 10px;
    color: #333;
    text-align: left;
    position: absolute;
    bottom: 60px;
    left: 20px;
    width: calc(100% - 40px);
    white-space: nowrap;
}

/* Mobile styles */
@media (max-width: 600px) {
    .menu {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .menu h1 {
        text-align: center;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu ul {
        display: none;
    }

    .menu ul.show {
        display: block;
    }

    .image-container {
        margin-left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image {
        max-height: 100vh;
        width: auto;
        max-width: 100%;
    }

    .footer {
        text-align: center;
        bottom: 15px;
        left: 0;
        right: 0;
    }
}
